main .columns-container{
  background: none;
  border-radius: 0;
  margin-top: 0;
}
.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (min-width: 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}

/* Three columns layout */
@media only screen and (min-width: 900px){
  .columns-3-cols {
    margin-top: -5rem;
  }
}
.columns-3-cols > div{
  display: flex;
  justify-content: space-evenly;
  padding: 0 10px 2rem;
}
.columns-3-cols > div >div{
  align-items: center;
  align-self: auto;
  border-radius: 20px;
  -webkit-box-shadow: 1px 0 26px 7px rgba(206,194,215,.62);
  box-shadow: 1px 0 26px 7px rgba(206,194,215,.62);
  display: flex;
  margin: 0 15px 2rem;
  min-height: 285px;
  padding: 30px 20px;
  flex-wrap: wrap;
  justify-content: center;
}
.columns-3-cols > div >div p,
.columns-3-cols > div >div {
  text-align: center;
  font-size: 16px;
  color: var(--brand-color);
  font-weight: 600;
}
.columns-3-cols > div >div h3 {
  display: block;
  font-size: 18px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.columns-3-cols > div > div .button-container {
  font-size: 16px;
  font-weight: 600;
}
.columns-3-cols > div > div .button-container a {
  background-color: var(--brand-color);
}
.columns-3-cols >div> div:nth-child(2) {
  background-color: var(--brand-color);
  color: var(--text-color-white);
}
